.question {
  background: var(--white);
  border-radius: 0.5rem;
  box-shadow: 0 0.125rem 0.75rem rgba(0, 0, 0, 0.04);
  padding: 1.5rem;

  & + .question {
    margin-top: 0.5rem;
  }

  p {
    color: var(--black);
  }

  footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.5rem;

    .userInfo {
      display: flex;
      align-items: center;

      img {
        width: 32px;
        height: 32px;
        border-radius: 50%;
      }

      > span {
        margin-left: 0.5rem;
        color: var(--gray-dark);
        font: 400 0.875rem "Roboto", sans-serif;
      }
    }

    button {
      border: 0;
      background: transparent;
      cursor: pointer;

      &.likeButton {
        display: flex;
        align-items: flex-end;
        color: var(--gray-dark);
        gap: 0.5rem;
        transition: filter .2s;

        &.liked {
          color: var(--purple);

          svg path {
            stroke: var(--purple);
          }
        }

        &:hover {
          filter: brightness(0.7);
        }
      }

      &.deleteButton {
        transition: filter .2s;

        svg path {
          stroke: var(--red);
        }

        &:hover {
          filter: brightness(1.2);
        }
      }
    }
  }
}
